html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 2;
}

/* navbar styles */

.navbar {
  background: #68020f;
}

.search-form {
  margin-right: 100px;
}

form input[type="text"] {
  width: 300px;
  height: 40px;
  border-radius: 25px;
  padding-left: 10px;
  border: none;
}

form input[type="text"]:focus {
  outline: none;
}

.search-form button {
  width: 50px;
}

.search-form button i {
  background-color: #68020f;
  color: #fffffe;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
  color: #fffffe;
}

.nav-list li a:hover {
  color: #030303;
}

/* footer styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #68020f;
  color: #fffffe;
}

.socials i {
  font-size: 25px;
}

.socials i:hover {
  color: #030303;
}
  /* shop.html */

.shop{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}
.header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading{
  font-size: 20px;
  font-weight: 700;
  color: #2f3841;
}
.action{
  font-size: 14px;
  font-weight: 600;
  color: #e44c4c;
}
