/* :root {
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url("../images/bg_img.jpg");
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
  height: 100vh;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fbe0c3;
  overflow: hidden;
}

.nav {
  padding: 1.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburger {
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  /* font-size: 2.5rem; */
  width: 200px;
}

.logo img:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
}
.nav-list li a:hover {
  color: #fbe0c3;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.top-nav {
  display: none;
}

.cart-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    padding: 1rem 1.6rem;
  }

  .top-nav .logo {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .cart-icon {
    display: block;
    font-size: 3rem;
  }

  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }

  .nav.fix-nav .nav-link {
    color: #243a6f;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav-link.icon {
    display: none;
  }
}

/* Hero */
.header .hero-img {
  position: absolute;
  bottom: -10%;
  right: -5%;
  height: 70rem;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.hero-content h2 {
  color: #b888ff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: #253b70;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}

.btn-success {
  display: inline-block;
  padding: 1.2rem 4rem;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 3rem;
}

@media only screen and (max-width: 1200px) {
  .header .hero-img {
    right: -20%;
  }

  .hero-content {
    transform: translate(20%, -50%);
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content h1 span {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .header .hero-img {
    height: 40rem;
    right: -10%;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header .hero-img {
    height: 40rem;
    bottom: -15%;
  }

  .hero-content {
    top: 40%;
    transform: translate(15%, -50%);
  }

  .header .hero-img {
    right: 0%;
  }

  .hero-content h2 {
    font-size: 1.8rem;
  }

  .hero-content h1 span {
    font-size: 4rem;
  }

  .hero-content a {
    padding: 1rem 3rem;
  }
}

/* Popular Products */
.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 35px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem 3rem;
  margin-top: 5px;
}

.product {
  height: 48rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.product:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.product-header {
  position: relative;
  height: 35rem;
  background-color: #f6f2f1;
  transition: all 300ms ease-in-out;
  z-index: 0;
}

.product-header img {
  height: 80%;
  width: 250px;
}

.product-footer {
  padding: 2rem 1.6rem 1.6rem 1.6rem;
}

.product-footer h3 {
  font-size: 2.2rem;
}

.rating {
  color: #43b3d9;
}

.product-footer .price {
  color: #ff7c9c;
  font-size: 2rem;
}

.product:hover .product-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.product-header .icons {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%) scale(0);
  z-index: 2;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.product-header .icons span {
  background-color: #fff;
  font-size: 2.5rem;
  display: block;
  border-radius: 50%;
  padding: 1.5rem 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.product-header .icons span i {
  transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
  margin-bottom: 1rem;
}

.product-header .icons span:hover {
  background-color: #efefef;
  color: #fff;
}

.product:hover .icons {
  opacity: 1;
  transform: translate(0, -50%) scale(1);
}

.product-header .icons a {
  display: block;
  margin-bottom: 1rem;
}

/* Footer */
#contact {
  /* background: #efefef; */
  background: #d1e2e9;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact-form {
  padding: 15px;
}

.contact-form input,
.contact-form textarea {
  font-size: 20px;
}

.form-control {
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
}

::placeholder {
  color: #999 !important;
  font-size: 20px;
}

.contact-form button {
  font-size: 20px;
  margin: 15px;
}

.contact-info {
  position: relative;
  top: -160px;
}

.follow {
  background: #fff;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
}

.follow i {
  padding: 20px;
  font-size: 25px;
}

.follow i:hover {
  color: #ff7c9c;
}

@media only screen and (max-width: 768px) {
  .all-products .top select {
    width: 15rem;
  }
}

.cart-icon {
  display: block;
  font-size: 3rem;
}

.hamburger {
  display: block;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

/*cart*/
.cart .table {
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
}
.cart .table thead tr th {
  border-top: 0px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 0px;
}
.cart .table thead tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
.cart .table tbody tr td .main .d-flex {
  padding-right: 30px;
}
.cart .table tbody tr td .main .d-flex img {
  border: 2px solid #000;
  border-radius: 3px;
}
.cart .table tbody tr td .main .des {
  vertical-align: middle;
  align-self: center;
}
.cart .table tbody tr td .main .des p {
  margin-bottom: 0px;
}
.cart .table tbody tr td h6 {
  font-size: 16px;
  color: #000;
  margin-bottom: 0px;
}
.cart .table tbody tr td .counter {
  margin-bottom: 0px;
}
.counter i {
  border: 1px solid #000;
  padding: 7px;
  display: inline-block;
  position: relative;
}
.cart .table tbody tr td .counter input {
  width: 100px;
  padding-left: 30px;
  height: 40px;
  outline: none;
  box-shadow: none;
}
.checkout ul {
  border: 2px solid #ebebeb;
  background: #f3f3f3;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 20px;
}
.checkout ul li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: #252525;
  text-transform: uppercase;
  overflow: hidden;
}
.checkout ul li.subtotal {
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  padding-bottom: 14px;
}
.checkout ul li.subtotal span {
  font-weight: bold;
}
.checkout ul li.cart-total {
  padding-top: 10px;
}
.checkout ul li.cart-total span {
  color: #e7ab3c;
}
.checkout ul li span {
  float: right;
}
.checkout .proceed-btn {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #252525;
  text-transform: uppercase;
  padding: 15px 25px 14px 25px;
  display: block;
  text-align: center;
}
.d-flex img {
  width: 75px;
}
.checkout {
  width: 500px;
}
